/*
  HTML5 Ã¢Å“Â° Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/
/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
/* line 18, ../sass/_reset.scss */
a {
  outline: none !important;
}

/* line 33, ../sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 44, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 48, ../sass/_reset.scss */
nav ul {
  list-style: none;
}

/* line 50, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 53, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 55, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 57, ../sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 59, ../sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 61, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 63, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 66, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 68, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 70, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* ~~ The footer ~~ */
/* line 73, ../sass/_reset.scss */
footer {
  position: relative;
  /* this gives IE6 hasLayout to properly clear */
  clear: both;
  /* this clear property forces the .container to understand where the columns end and contain them */
}

/* END RESET CSS */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
/* line 90, ../sass/_reset.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* hack retained to preserve specificity */
/* line 92, ../sass/_reset.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
/* line 97, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/*
 * minimal base styles
 */
/* line 105, ../sass/_reset.scss */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
/* line 114, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* always force a scrollbar in non-IE */
/* line 117, ../sass/_reset.scss */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 121, ../sass/_reset.scss */
a:hover, a:active, a:visited, a:link, a {
  outline: none;
}

/* line 123, ../sass/_reset.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 124, ../sass/_reset.scss */
a:hover {
  color: #036;
}

/* line 127, ../sass/_reset.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 130, ../sass/_reset.scss */
nav ul, nav li {
  margin: 0;
}

/* line 132, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* line 133, ../sass/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 135, ../sass/_reset.scss */
td, td img {
  vertical-align: top;
}

/* line 137, ../sass/_reset.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 138, ../sass/_reset.scss */
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 10px;
}

/* line 140, ../sass/_reset.scss */
pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  /*white-space: pre-line;*/
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 150, ../sass/_reset.scss */
textarea {
  overflow: auto;
}

/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* line 152, ../sass/_reset.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* line 156, ../sass/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 157, ../sass/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 158, ../sass/_reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 159, ../sass/_reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* hand cursor on clickable input elements */
/* line 162, ../sass/_reset.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* webkit browsers add a 2px margin outside the chrome of form elements */
/* line 165, ../sass/_reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* colors for form validity */
/* line 169, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 176, ../sass/_reset.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
/* line 182, ../sass/_reset.scss */
::-moz-selection {
  background: #4bb958;
  color: #fff;
  text-shadow: none;
}

/* line 183, ../sass/_reset.scss */
::selection {
  background: #4bb958;
  color: #fff;
  text-shadow: none;
}

/*  j.mp/webkit-tap-highlight-color */
/* line 186, ../sass/_reset.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 190, ../sass/_reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 194, ../sass/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/*
 * Non-semantic helper classes
 */
/* for image replacement */
/* line 203, ../sass/_reset.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 207, ../sass/_reset.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 208, ../sass/_reset.scss */
.relative {
  position: relative;
}

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
/* line 212, ../sass/_reset.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 217, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
/* line 220, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 224, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* line 226, ../sass/_reset.scss */
.clearfix {
  zoom: 1;
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  /* line 233, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 234, ../sass/_reset.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 235, ../sass/_reset.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 236, ../sass/_reset.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 237, ../sass/_reset.scss */
  .ir a:after {
    content: "";
  }

  /* Don't show links for images */
  /* line 238, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 239, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 240, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 242, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 243, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 246, ../sass/_reset.scss */
.floatLeft {
  float: left;
}

/* line 250, ../sass/_reset.scss */
.floatRight {
  float: right;
}

/* $Id$ */
/* HTML & Body
-------------------------------------------------------------- */
/* Default font settings.
  The font-size percentage is of 16px. (0.75 * 16px = 12px) */
/* line 12, ../sass/_base.scss */
body {
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
  /* web safe fonts */
  font-size: 75%;
  /* 12px */
  line-height: 150%;
}

/* Headings
-------------------------------------------------------------- */
/* line 21, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 25, ../sass/_base.scss */
h1 {
  font-size: 250%;
  /* 30px/12px */
  line-height: 125%;
  margin-bottom: 10px;
}

/* line 31, ../sass/_base.scss */
h2 {
  font-size: 133.33333333%;
  /* 16px/12px */
  line-height: 125%;
  margin-bottom: 5px;
}

/* line 37, ../sass/_base.scss */
h3 {
  line-height: 125%;
  margin-bottom: 5px;
}

/* line 42, ../sass/_base.scss */
h4 {
  line-height: 125%;
  margin-bottom: 5px;
}

/* line 47, ../sass/_base.scss */
h5 {
  line-height: 125%;
  margin-bottom: 5px;
}

/* line 52, ../sass/_base.scss */
h6 {
  line-height: 125%;
  margin-bottom: 5px;
}

/* line 57, ../sass/_base.scss */
::selection {
  background: #fbc689;
}

/* Text elements
-------------------------------------------------------------- */
/* line 67, ../sass/_base.scss */
a,
a:link,
a:visited {
  color: #333333;
  text-decoration: none;
}

/* line 73, ../sass/_base.scss */
a:hover,
a:focus {
  color: #e65f33;
}

/* line 77, ../sass/_base.scss */
li a.active {
  color: #e65f33;
}

/* line 81, ../sass/_base.scss */
p {
  font-size: 100%;
  line-height: 150%;
  margin-bottom: 10px;
}

/* line 87, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 91, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 96, ../sass/_base.scss */
ul,
ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

/* line 102, ../sass/_base.scss */
ul li,
ol li {
  margin-bottom: 5px;
}

/* Page
-------------------------------------------------------------- */
/* line 109, ../sass/_base.scss */
#page {
  margin: 20px auto;
  width: 960px;
}

/* line 114, ../sass/_base.scss */
.inner {
  padding: 0;
}

/* line 118, ../sass/_base.scss */
#block-system-main > .inner > .content {
  min-height: 500px;
}

/* line 123, ../sass/_base.scss */
article .content img,
.pane-content img {
  max-width: 100%;
  height: auto;
}

/* line 128, ../sass/_base.scss */
.pane-openlayers-map .pane-content img {
  max-width: none;
}

/* Primary Menu
-------------------------------------------------------------- */
/* line 135, ../sass/_base.scss */
#nav-wrapper {
  margin: 0 0 20px 0;
  position: relative;
  z-index: 999;
}

/* line 141, ../sass/_base.scss */
#nav-inner {
  padding: 0;
}

/* Menu */
/* line 147, ../sass/_base.scss */
nav ul.menu {
  margin: 0;
  padding: 0;
}

/* line 152, ../sass/_base.scss */
nav ul.menu li {
  float: left;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

/* line 159, ../sass/_base.scss */
nav ul.menu li.last {
  border-right: none;
}

/* line 163, ../sass/_base.scss */
nav ul.menu li a {
  text-align: center;
  text-transform: inherit;
  font-family: dokyoregular;
  font-size: 14px;
  color: inherit;
  line-height: inherit;
  letter-spacing: 1px;
}

/* line 169, ../sass/_base.scss */
nav ul.menu li a:link,
nav ul.menu li a:visited {
  color: #999;
  padding: 0 10px;
  text-decoration: none;
}

/* line 176, ../sass/_base.scss */
nav ul.menu li.first a:link,
nav ul.menu li.first a:visited {
  padding-left: 0;
}

/* line 182, ../sass/_base.scss */
nav ul.menu li a:hover,
nav ul.menu li a:focus,
nav ul.menu li a.active {
  color: #000;
}

/* Active */
/* line 188, ../sass/_base.scss */
nav ul.menu li.active-trail a:link,
nav ul.menu li.active-trail a:visited {
  color: #ED7611;
}

/* Expanded */
/* line 194, ../sass/_base.scss */
nav ul.menu li.expanded:hover > a:link,
nav ul.menu li.expanded:hover > a:visited {
  color: #fff;
}

/* Second level */
/* line 199, ../sass/_base.scss */
nav ul.menu li ul {
  left: -999em;
  position: absolute;
}

/* line 204, ../sass/_base.scss */
nav ul.menu li:hover ul {
  display: block;
  left: auto;
  margin-left: 0;
  /* width: 150px; */
}

/* line 211, ../sass/_base.scss */
nav ul.menu li ul li {
  border: none;
  float: none;
}

/* line 216, ../sass/_base.scss */
nav ul.menu li ul li.last {
  border-bottom: none;
}

/* line 225, ../sass/_base.scss */
nav ul.menu li ul li a:link,
nav ul.menu li ul li a:visited,
nav ul.menu li ul li.first a:link,
nav ul.menu li ul li.first a:visited,
nav ul.menu li.active-trail ul li a:link,
nav ul.menu li.active-trail ul li a:visited {
  color: #fff;
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
}

/* line 240, ../sass/_base.scss */
#primary-menu ul.menu li,
#primary-menu ul.menu li a:link,
#primary-menu ul.menu li a:visited,
#primary-menu ul.menu li ul li a:link,
#primary-menu ul.menu li ul li a:visited,
#primary-menu ul.menu li ul li.first a:link,
#primary-menu ul.menu li ul li.first a:visited,
#primary-menu ul.menu li.active-trail ul li a:link,
#primary-menu ul.menu li.active-trail ul li a:visited {
  display: block;
}

/* line 248, ../sass/_base.scss */
nav ul.menu li ul li a:hover,
nav ul.menu li ul li a:active,
nav ul.menu li ul li.active-trail a.active,
nav ul.menu li.active-trail ul li a:hover,
nav ul.menu li.active-trail ul li a:focus {
  color: #000;
}

/* line 253, ../sass/_base.scss */
nav ul.menu li ul li.expanded:hover > a:link,
nav ul.menu li ul li.expanded:hover > a:visited {
  color: #fff;
}

/* Third level */
/* line 258, ../sass/_base.scss */
nav ul.menu li:hover ul li ul {
  left: -999em;
  position: absolute;
}

/* line 263, ../sass/_base.scss */
nav ul.menu li:hover ul li:hover ul {
  display: block;
  left: auto;
  margin: -28px 0 0 150px;
  /* width: 150px; */
}

/* line 271, ../sass/_base.scss */
nav ul.menu li ul li:hover ul a:hover,
nav ul.menu li ul li:hover ul a:focus {
  color: #fff;
}

/* line 275, ../sass/_base.scss */
nav#primary-menu {
  padding-left: 10px;
  float: left;
}
/* line 279, ../sass/_base.scss */
nav#primary-menu div.content > ul.menu > li {
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  background: #333333;
}
/* line 282, ../sass/_base.scss */
nav#primary-menu div.content > ul.menu > li:hover {
  background: #333333;
}
/* line 288, ../sass/_base.scss */
nav#primary-menu ul.menu ul {
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #333333;
}
/* line 291, ../sass/_base.scss */
nav#primary-menu ul.menu ul:hover ul {
  background: #333333;
}
/* line 297, ../sass/_base.scss */
nav#primary-menu ul.menu li {
  line-height: 35px;
  height: 35px;
  margin-right: 2px;
}
/* line 303, ../sass/_base.scss */
nav#primary-menu ul.menu li a {
  padding-top: 0;
}
/* line 308, ../sass/_base.scss */
nav#primary-menu ul.menu li.first a:link, nav#primary-menu ul.menu li.first a:visited {
  padding-left: 10px;
}
/* line 312, ../sass/_base.scss */
nav#primary-menu ul.menu li ul.menu li {
  margin-right: 0;
  text-align: left;
}
/* line 316, ../sass/_base.scss */
nav#primary-menu ul.menu li ul.menu li a {
  text-align: left;
}

/* Secondary menu
-------------------------------------------------------------- */
/* line 328, ../sass/_base.scss */
.region-secondary-navigation {
  position: relative;
  height: 25px;
  padding-left: 10px;
}

/* line 334, ../sass/_base.scss */
.region-secondary-navigation ul.menu {
  margin: 0;
  padding: 0;
}

/* line 339, ../sass/_base.scss */
.region-secondary-navigation ul.menu li {
  border-right: none;
  line-height: 100%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #333333;
}

/* line 349, ../sass/_base.scss */
.region-secondary-navigation ul.menu li.last {
  list-style: disc;
  list-style-type: disc;
  list-style-image: none;
  margin-left: 15px;
}

/* line 357, ../sass/_base.scss */
.region-secondary-navigation ul.menu a:link,
.region-secondary-navigation ul.menu a:visited {
  color: #333333;
  display: inherit;
  padding: 0 10px;
  text-decoration: none;
  list-style: none;
}

/* line 366, ../sass/_base.scss */
.region-secondary-navigation ul.menu li.last a:link,
.region-secondary-navigation ul.menu li.last a:visited {
  padding-right: 0;
  padding-left: 0 !important;
}

/* line 372, ../sass/_base.scss */
.region-secondary-navigation ul.menu li a:hover,
.region-secondary-navigation ul.menu li a:focus {
  text-decoration: underline;
}

/* Header
-------------------------------------------------------------- */
/* line 380, ../sass/_base.scss */
header[role="banner"] {
  position: relative;
  z-index: 999;
}

/* line 385, ../sass/_base.scss */
header[role="banner"] #logo {
  float: left;
  margin-bottom: 20px;
}

/* line 390, ../sass/_base.scss */
#header-inner .column {
  float: left;
}

/* Search
-------------------------------------------------------------- */
/* line 397, ../sass/_base.scss */
.region-search {
  float: right;
  margin: 0;
  width: 250px;
  height: 35px;
}
/* line 403, ../sass/_base.scss */
.region-search #block-search-form {
  background: url(../images/search-bg.png) no-repeat 0 0;
  display: block;
  height: 25px;
  width: 230px;
  padding: 5px 0;
  margin: 0 auto;
  background: #e65f33;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}
/* line 413, ../sass/_base.scss */
.region-search #block-search-form input {
  vertical-align: top;
}
/* line 416, ../sass/_base.scss */
.region-search #block-search-form #search-button {
  display: block;
  float: right;
  height: 21px;
  width: 21px;
  text-align: center;
  border: 1px solid #333333;
  background: #333333;
  margin-right: 2px;
  border-left-color: #e65f33;
}
/* line 427, ../sass/_base.scss */
.region-search #block-search-form #search-button input {
  padding: 5px 4px 4px;
  margin-top: 0;
  display: block;
}
/* line 434, ../sass/_base.scss */
.region-search #block-search-form #search-input {
  display: block;
  float: left;
}
/* line 439, ../sass/_base.scss */
.region-search #block-search-form #search {
  padding: 1px 5px;
}
/* line 443, ../sass/_base.scss */
.region-search #block-search-form #search-input input {
  background: white;
  height: 21px;
  padding: 0 5px;
  line-height: 21px;
  text-align: center;
  border: 1px solid #333333;
  color: #68747b;
  margin-left: 5px;
  white-space: nowrap;
  width: 178px;
}

/* Search - Results
-------------------------------------------------------------- */
/* line 464, ../sass/_base.scss */
ol.search-results {
  margin: 0;
  padding: 0;
}

/* line 469, ../sass/_base.scss */
ol.search-results li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* line 475, ../sass/_base.scss */
ol.search-results .search-snippet-info {
  padding: 0;
}

/* Preface regions
-------------------------------------------------------------- */
/* line 482, ../sass/_base.scss */
#preface-wrapper {
  margin-bottom: 20px;
}

/* line 486, ../sass/_base.scss */
.preface .column {
  float: left;
}

/* Preface regions - First/Middle/Last
-------------------------------------------------------------- */
/* line 493, ../sass/_base.scss */
.prefaces-1 .column {
  width: 960px;
}

/* Preface regions - First:Middle:Last
-------------------------------------------------------------- */
/* line 500, ../sass/_base.scss */
.prefaces-3 .column {
  width: 307px;
}

/* line 504, ../sass/_base.scss */
.prefaces-3 #preface-second.column {
  margin: 0 20px;
  width: 306px;
}

/* Preface regions - First:Middle/First:Last/Middle:Last
-------------------------------------------------------------- */
/* First:Second */
/* line 513, ../sass/_base.scss */
.prefaces-2 .column {
  width: 470px;
}

/* line 519, ../sass/_base.scss */
body.preface-first-second #preface-second.column,
body.preface-first-third #preface-last.column,
body.preface-second-third #preface-last.column {
  margin-left: 20px;
}

/* Main
-------------------------------------------------------------- */
/* line 526, ../sass/_base.scss */
#main-wrapper {
  padding-bottom: 20px;
}

/* Sidebar Region
-------------------------------------------------------------- */
/* line 533, ../sass/_base.scss */
#sidebar-first {
  float: left;
}

/* line 537, ../sass/_base.scss */
#sidebar-second {
  float: right;
}

/* Single Column Layout (Main Content)
-------------------------------------------------------------- */
/* line 544, ../sass/_base.scss */
body.layout-main #content-wrapper {
  margin: 0;
  width: 960px;
}

/* Two Column Layout - Sidebar:Main Content
-------------------------------------------------------------- */
/* line 552, ../sass/_base.scss */
body.sidebar-first #sidebar-first {
  margin: 0 10px 0 0;
  width: 220px;
  padding: 15px;
}

/* line 558, ../sass/_base.scss */
body.sidebar-first #main {
  float: left;
  width: 700px;
}

/* Two Column Layout - Main Content:Sidebar
-------------------------------------------------------------- */
/* line 566, ../sass/_base.scss */
body.layout-main-second #main {
  float: left;
  width: 700px;
}

/* line 571, ../sass/_base.scss */
body.layout-main-second #sidebar-second {
  margin: 0 0 0 10px;
  width: 250px;
}
/* line 574, ../sass/_base.scss */
body.layout-main-second #sidebar-second .region-sidebar-second {
  padding: 15px;
}

/* Three Column Layout - Main Content:Sidebar1:Sidebar2
-------------------------------------------------------------- */
/* line 583, ../sass/_base.scss */
body.layout-first-main-second #main {
  float: left;
  position: relative;
  width: 500px;
  z-index: 1;
  /* keep content visible on admin pages */
}

/* line 590, ../sass/_base.scss */
body.layout-first-main-second #sidebar-first {
  margin: 0 5px 0 5px;
  width: 190px;
  padding: 0 5px;
}

/* line 596, ../sass/_base.scss */
body.layout-first-main-second #sidebar-second {
  width: 250px;
}
/* line 598, ../sass/_base.scss */
body.layout-first-main-second #sidebar-second .region-sidebar-second {
  padding: 15px;
}

/* Postscript Top
-------------------------------------------------------------- */
/* line 606, ../sass/_base.scss */
#postscript-top-wrapper {
  margin-bottom: 20px;
}

/* Postscript regions
-------------------------------------------------------------- */
/* line 613, ../sass/_base.scss */
#postscript-wrapper {
  margin-bottom: 20px;
}

/* line 617, ../sass/_base.scss */
.postscript .column {
  float: left;
}

/* Postscript regions - First/Middle/Last
-------------------------------------------------------------- */
/* line 624, ../sass/_base.scss */
.postscripts-1 .column {
  width: 960px;
}

/* Postscript regions - First:Middle:Last
-------------------------------------------------------------- */
/* line 631, ../sass/_base.scss */
.postscripts-3 .column {
  width: 307px;
}

/* line 635, ../sass/_base.scss */
.postscripts-3 #postscript-second.column {
  margin: 0 20px;
  width: 306px;
}

/* Postscript regions - First:Middle/First:Last/Middle:Last
-------------------------------------------------------------- */
/* First:Second */
/* line 644, ../sass/_base.scss */
.postscripts-2 .column {
  width: 460px;
}

/* line 650, ../sass/_base.scss */
body.postscript-first-second #postscript-second.column,
body.postscript-first-third #postscript-last.column,
body.postscript-second-third #postscript-last.column {
  margin-left: 40px;
}

/* Footer
-------------------------------------------------------------- */
/* Columns */
/* line 661, ../sass/_base.scss */
.footer .column {
  float: left;
}

/* Footer bottom */
/* line 666, ../sass/_base.scss */
#footer-bottom {
  color: #999;
  text-align: center;
}

/* Footer regions - First/Middle/Last
-------------------------------------------------------------- */
/* line 674, ../sass/_base.scss */
.footers-1 .column {
  width: 960px;
}

/* Footer regions - First:Middle:Last
-------------------------------------------------------------- */
/* line 681, ../sass/_base.scss */
.footers-3 .column {
  width: 307px;
}

/* line 685, ../sass/_base.scss */
.footers-3 #footer-second.column {
  margin: 0 20px;
  width: 306px;
}

/* Footer regions - First:Middle/First:Last/Middle:Last
-------------------------------------------------------------- */
/* First:Second */
/* line 694, ../sass/_base.scss */
.footers-2 .column {
  width: 470px;
}

/* line 700, ../sass/_base.scss */
body.footers-first-second #footer-second.column,
body.footers-first-third #footer-last.column,
body.footers-second-third #footer-last.column {
  margin-left: 20px;
}

/* Messages
-------------------------------------------------------------- */
/* line 707, ../sass/_base.scss */
div.messages {
  border-radius: 3px;
  display: block;
  margin-bottom: 1.5em;
}

/* line 713, ../sass/_base.scss */
.button-wrapper div.message {
  color: #fff;
  line-height: 25px;
  padding-right: 20px;
  white-space: nowrap;
}

/* line 721, ../sass/_base.scss */
.marker,
.form-required {
  color: #f5951d;
}

/* Forms
-------------------------------------------------------------- */
/* Button */
/* line 729, ../sass/_base.scss */
span.button-wrapper {
  cursor: pointer;
}

/* line 733, ../sass/_base.scss */
span.button {
  background: transparent url(../images/button-orange-left.png) no-repeat 0 0;
  display: -moz-inline-box;
  /* for FF2 */
  display: inline-block;
  height: 25px;
  padding: 0 10px 0 0;
  position: relative;
}

/* line 742, ../sass/_base.scss */
span.button span {
  background: transparent url(../images/button-orange-right.png) no-repeat 100% 0;
  display: -moz-inline-box;
  /* for FF2 */
  display: inline-block;
  height: 25px;
  margin-left: 10px;
  padding: 0 10px 0 0;
}

/* line 751, ../sass/_base.scss */
span.button span input {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  /* for Opera */
  height: 25px;
  font-size: 108.333333%;
  /* 13px/12px */
  font-weight: bold;
  line-height: 25px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px #b46118;
  white-space: nowrap !important;
}

/* line 766, ../sass/_base.scss */
span.button span span {
  background: url(../images/status-active.gif) 100% 50%;
  float: right;
}

/* line 775, ../sass/_base.scss */
span.button:hover {
  background-position: 0 100%;
}

/* line 779, ../sass/_base.scss */
span.button:hover span {
  background-position: 100% 100%;
}

/* input */
/* line 785, ../sass/_base.scss */
input::-webkit-input-placeholder,
input:-moz-placeholder {
  color: #f30;
}

/* line 789, ../sass/_base.scss */
.form-item {
  margin: 0 0 10px 0;
}

/* line 795, ../sass/_base.scss */
.form-item input,
.form-item select,
.form-item textarea {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 3px 5px;
}

/* line 802, ../sass/_base.scss */
.form-item .form-checkbox,
.form-item radio {
  border: none;
  border-radius: 0;
  padding: 0;
}

/* Tabs
-------------------------------------------------------------- */
/* line 811, ../sass/_base.scss */
div.tabs {
  margin: 0 0 5px 0;
}

/* line 815, ../sass/_base.scss */
ul.primary {
  margin: 0;
  padding: 0;
  /* LTR */
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  /* background: url(../images/tabs/tab-bar.png) repeat-x 0 100%; */
}

/* line 825, ../sass/_base.scss */
ul.primary li {
  float: left;
  /* LTR */
  margin: 0;
  margin-right: 3px;
  padding: 0;
}

/* line 832, ../sass/_base.scss */
ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px;
  /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #999;
  /*
background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat 0 -38px;
*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #3e3e3e;
}

/* line 850, ../sass/_base.scss */
ul.primary li a .tab {
  display: block;
  height: 20px;
  /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 2px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  /* background: url(../images/tabs/tab-right.png) no-repeat 100% -38px; */
}

/* line 861, ../sass/_base.scss */
ul.primary li a:hover {
  border-width: 0;
  color: #fff;
  /*
background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat 0 -76px;
*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #3e3e3e;
}

/* line 873, ../sass/_base.scss */
ul.primary li a:hover .tab {
  /*background: url(../images/tabs/tab-right.png) no-repeat 100% -76px;*/
}

/* line 878, ../sass/_base.scss */
ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #fff;
  /*background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat 0 0;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #3e3e3e;
}

/* line 888, ../sass/_base.scss */
ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  /* background: url(../images/tabs/tab-right.png) no-repeat 100% 0; */
}

/* line 892, ../sass/_base.scss */
ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tabs/tab-secondary-bg.png) repeat-x 0 100%;
}

/* line 901, ../sass/_base.scss */
ul.secondary li {
  float: left;
  /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
  /* LTR */
}

/* line 908, ../sass/_base.scss */
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url(../images/tabs/tab-secondary.png) repeat-x 0 -56px;
}

/* line 919, ../sass/_base.scss */
ul.secondary a .tab {
  display: block;
  height: 18px;
  /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

/* line 927, ../sass/_base.scss */
ul.secondary a:hover {
  background: url(../images/tabs/tab-secondary.png) repeat-x 0 100%;
}

/* line 932, ../sass/_base.scss */
ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url(../images/tabs/tab-secondary.png) repeat-x 0 0;
}

/* Breadcrumbs
-------------------------------------------------------------- */
/* line 941, ../sass/_base.scss */
body.page-search .breadcrumb {
  display: none;
}

/* line 945, ../sass/_base.scss */
ul.breadcrumbs {
  font-size: 91.666667%;
  /* 11px/12px */
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 0;
}

/* line 952, ../sass/_base.scss */
ul.breadcrumbs li {
  background: url(../images/breadcrumb-seperator.png) no-repeat 100% 50%;
  display: block;
  float: left;
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

/* line 963, ../sass/_base.scss */
ul.breadcrumbs li.last {
  background: transparent;
  margin-right: 0;
  padding-right: 0;
}

/* line 970, ../sass/_base.scss */
ul.breadcrumbs li a:link,
ul.breadcrumbs li a:visited {
  text-decoration: none;
}

/* line 975, ../sass/_base.scss */
ul.breadcrumbs li a:hover,
ul.breadcrumbs li a:focus {
  text-decoration: underline;
}

/* Node
-------------------------------------------------------------- */
/* Unpublished */
/* line 983, ../sass/_base.scss */
.node-unpublished {
  background-color: #FFFFCC;
}

/* Float left/right */
/* line 988, ../sass/_base.scss */
.floatleft {
  float: left;
  margin: 0 20px 20px 0;
}

/* line 993, ../sass/_base.scss */
.floatright {
  float: right;
  margin: 0 0 20px 20px;
}

/* line 998, ../sass/_base.scss */
.floatcenter {
  text-align: center;
}

/* line 1002, ../sass/_base.scss */
.float-nomargin {
  margin: 0;
}

/* Horizontal rule */
/* line 1007, ../sass/_base.scss */
hr {
  border-top: 2px solid #E8E8E8;
  clear: both;
  display: block;
  height: 2px;
  margin: 20px 0;
}

/* Submitted */
/* line 1016, ../sass/_base.scss */
.submitted {
  margin-bottom: 1em;
}

/* Links */
/* line 1021, ../sass/_base.scss */
.node footer {
  display: block;
  margin-bottom: 20px;
}

/* line 1026, ../sass/_base.scss */
.node ul.links {
  margin: 0;
}

/* line 1030, ../sass/_base.scss */
.node ul.links li {
  margin: 0;
  padding: 0;
}

/* Comments
/-------------------------------------------------------------- */
/* Blocks
-------------------------------------------------------------- */
/* line 1043, ../sass/_base.scss */
.block {
  margin-bottom: 20px;
}

/* line 1047, ../sass/_base.scss */
.block-last {
  margin-bottom: 0;
}

/* Clearfix
-------------------------------------------------------------- */
/* Clearfix - Section/Panels */
/* line 1058, ../sass/_base.scss */
section:after,
.views-row:after,
.panel-pane:after,
.center-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1066, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 1070, ../sass/_base.scss */
.hide {
  display: none;
}

/* Buttons
-------------------------------------------------------------- */
/* Wide */
/* line 1078, ../sass/_base.scss */
.button-wide {
  text-align: center;
  width: 100%;
}

/* Orange */
/* line 1085, ../sass/_base.scss */
a.button-orange:link,
a.button-orange:visited {
  background: url(../images/button-orange-left.png) no-repeat 0 0;
  color: #fff;
  display: block;
  float: left;
  font-weight: bold;
  height: 25px;
  overflow: hidden;
  text-decoration: none;
  text-shadow: 1px 1px 2px #b46118;
}

/* line 1097, ../sass/_base.scss */
a.button-orange span {
  background: url(../images/button-orange-right.png) no-repeat 100% 0;
  display: block;
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
  padding: 0 10px 0 0;
}

/* line 1107, ../sass/_base.scss */
a.button-orange:hover,
a.button-orange:focus {
  background-position: 0 100%;
}

/* line 1112, ../sass/_base.scss */
a.button-orange:hover span,
a.button-orange:focus span {
  background-position: 100% 100%;
}

/* Pagers
-------------------------------------------------------------- */
/* line 1119, ../sass/_base.scss */
.item-list ul.pager {
  float: right;
  font-size: 91.666667%;
  /* 11px/12px */
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px #b46118;
}

/* line 1128, ../sass/_base.scss */
.item-list ul.pager li {
  display: block;
  float: left;
  margin: 0 0 0 5px;
  padding: 0;
}

/* line 1136, ../sass/_base.scss */
.item-list ul.pager li a,
.item-list ul.pager li.pager-current {
  background-color: #aaa;
  color: #fff;
  padding: 3px 8px;
  text-transform: uppercase;
}

/* line 1143, ../sass/_base.scss */
.item-list ul.pager li.pager-current {
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 2px;
  color: #42515A;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 7px;
  text-shadow: none;
}

/* line 1155, ../sass/_base.scss */
.item-list ul.pager li.pager-ellipsis {
  line-height: 22px;
}

/* line 1160, ../sass/_base.scss */
.item-list ul.pager li a:link,
.item-list ul.pager li a:visited {
  background: #f69745 url(../images/bg-orange-tall.png) repeat-x 0 0;
  border: 1px solid #f69745;
  border-radius: 2px;
  color: #fff;
  display: block;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0 7px;
  text-decoration: none;
}

/* line 1174, ../sass/_base.scss */
.item-list ul.pager li a:hover,
.item-list ul.pager li a:focus {
  background-position: 0 100%;
  color: #fff;
  text-decoration: none;
}

/* line 1183, ../sass/_base.scss */
.item-list ul.pager li.pager-first a,
.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-next a,
.item-list ul.pager li.pager-last a {
  background: #f69745 url(../images/pager-arrows.png) no-repeat;
  border: none;
  color: transparent;
  display: block;
  height: 22px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -999em;
  width: 22px;
}

/* Pager - First */
/* line 1197, ../sass/_base.scss */
.item-list ul.pager li.pager-first a {
  background-position: 0 0;
}

/* Pager - Previous */
/* line 1202, ../sass/_base.scss */
.item-list ul.pager li.pager-previous a {
  background-position: 0 -44px;
}

/* Pager - Next */
/* line 1207, ../sass/_base.scss */
.item-list ul.pager li.pager-next a {
  background-position: 0 -132px;
}

/* Pager - Last */
/* line 1212, ../sass/_base.scss */
.item-list ul.pager li.pager-last a {
  background-position: 0 -88px;
}

/* Pager Hovers */
/* line 1218, ../sass/_base.scss */
.item-list ul.pager li.pager-first a:hover,
.item-list ul.pager li.pager-first a:focus {
  background-position: 0 -22px;
}

/* line 1223, ../sass/_base.scss */
.item-list ul.pager li.pager-previous a:hover,
.item-list ul.pager li.pager-previous a:focus {
  background-position: 0 -66px;
}

/* line 1228, ../sass/_base.scss */
.item-list ul.pager li.pager-next a:hover,
.item-list ul.pager li.pager-next a:focus {
  background-position: 0 -154px;
}

/* line 1233, ../sass/_base.scss */
.item-list ul.pager li.pager-last a:hover,
.item-list ul.pager li.pager-last a:focus {
  background-position: 0 -110px;
}

/* Tables
-------------------------------------------------------------- */
/* line 1240, ../sass/_base.scss */
table {
  margin-bottom: 20px;
}

/* line 1244, ../sass/_base.scss */
table td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* line 1249, ../sass/_base.scss */
table p {
  margin: 0;
}

/* line 1253, ../sass/_base.scss */
table.tabledrag-processed {
  margin-bottom: 10px;
}

/* line 1257, ../sass/_base.scss */
table.tabledrag-processed th {
  padding-bottom: 5px;
}

/* line 1262, ../sass/_base.scss */
table tr.even,
table tr.odd {
  background: transparent;
}

/* Misc.
-------------------------------------------------------------- */
/* line 1270, ../sass/_base.scss */
.grippie {
  display: none !important;
}

/*--------------------- OPENLAYERS ---------------------*/
/* line 1279, ../sass/_base.scss */
.olLayerGooglePoweredBy, .olLayerGoogleCopyright {
  z-index: -10 !important;
}

/* line 1280, ../sass/_base.scss */
.gmnoprint {
  right: 0 !important;
}

/*-------------------------------- MAIN STYLE --------------------------------*/
/* line 1284, ../sass/_base.scss */
#content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #333333;
  padding: 15px;
  margin-bottom: 5px;
}

/*-------------------------------- CONTACT --------------------------------*/
/* line 1295, ../sass/_base.scss */
#page-contact .pane-openlayers-map {
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.4);
  -moz-box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.4);
  box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.4);
}
/* line 1302, ../sass/_base.scss */
#page-contact .webform-client-form .webform-component {
  float: left;
  width: 322px;
}
/* line 1306, ../sass/_base.scss */
#page-contact .webform-client-form .webform-component.webform-component-email {
  margin-left: 26px;
}
/* line 1310, ../sass/_base.scss */
#page-contact .webform-client-form .webform-component label {
  display: block;
  height: 20px;
  line-height: 20px;
}
/* line 1316, ../sass/_base.scss */
#page-contact .webform-client-form .webform-component input {
  display: block;
  width: 310px;
  height: 20px;
  line-height: 20px;
}
/* line 1324, ../sass/_base.scss */
#page-contact .webform-client-form .webform-component-textarea {
  width: 100%;
}
/* line 1330, ../sass/_base.scss */
#page-contact .webform-client-form textarea {
  height: 120px;
  resize: none;
}

/* $Id$ */
/* Webfonts (Hide webfonts until they load)-------------------------------------------------------------- */
/* line 1, ../sass/_fontface.scss */
.wf-loading h1 {
  visibility: hidden;
}

/* Fonts-------------------------------------------------------------- */
